<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Observice</title>
        <link
            href="{{ url_for('observice_static', path='styles.css') }}"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Observice</h1>
                <p>
                    A simple web application to observe the status of your
                    location
                </p>
            </div>
        </div>
    </body>
</html>
